@model IEnumerable<WebApplication3.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.roomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomTypeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oneNightPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.roomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomTypeNavigation.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oneNightPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
